extends layout

block content
    //- h1 #{data2}
    .container.mx-auto  
        .col-xl-12.order-xl-1
            .card.bg-secondary.shadow
                .card-header.border
                    .row.align-items-center
                        .col-12
                            h1.mb-0 Edit #{Header}
                .card-body
                        form(action="/Edit?q="+Header,method="POST")
                            h6.heading-small.text-muted.mb-4 User information
                            .pl-lg-4
                                each val,key in data2
                                    .row
                                        .col-lg-6
                                            if key == '_id'
                                                label.form-control-label #{key}
                                                input.btn.btn-sm.btn-warning.form-control.form-control-alternative(href='#',id="show_id",name="id",value=val,readonly)
                                            else if key != 'Name'
                                                label.form-control-label #{key}
                                                input.btn.btn-sm.btn-warning.form-control.form-control-alternative(href='#',name=key,value=val)
                                            else 
                                                each  item,index in val
                                                        label.form-control-label #{index}
                                                        input.btn.btn-sm.btn-warning.form-control.form-control-alternative(href='#',name=index,value=item)
                            .text-right
                                input.btn.btn-info.mr-4(type='submit')             
