extends layout

block content
  section.section
     .section-header
      h1 Information Data View As #{Authen}
     .row.d-flex.justify-content-center
        if data != undefined    
            div(class='col-12')
                .card
                    .card-header
                        h4 Employee Data
                    .card-body
                        .table-responsive
                            table.table.table-bordered.table-md
                                tbody              
                                    tr
                                        each item,header in data[0]
                                            if header == 'Name'
                                                th FirstName
                                                th LastName
                                            else 
                                                th #{header}
                                        th Edit        
                                each info in data
                                    tr 
                                        -var data2 = JSON.stringify(info) 
                                        each val,key in info
                                                if key != 'Name'
                                                    td #{val}
                                                else
                                                    each  item,index in val
                                                        td #{item}
                                        td 
                                            a.btn.btn-danger(href='/Edit?q='+data2+'&'+'Field='+info._id+"&coll=information") Edit
        if statement != undefined                                
            div(class='col-12')
                .card
                    .card-header
                        h4 Statement Table
                    .card-body
                        .table-responsive
                            table.table.table-bordered.table-md
                                tbody              
                                    tr
                                        each item,header in statement[0]
                                            if header == 'Name'
                                                th FirstName
                                                th LastName
                                            else 
                                                th #{header}
                                        th Edit        
                                        th Delete        
                                each info in statement
                                    tr 
                                        -var data2 = JSON.stringify(info)
                                        each val,key in info
                                                if key != 'Name'
                                                    td #{val}
                                                else
                                                    each  item,index in val
                                                        td #{item}
                                        td 
                                            a.btn.btn-warning(href='/Edit?q='+data2+'&'+'Field='+info._id+"&coll=statement") Edit
                                        td 
                                            a.btn.btn-danger(href='/Delete?id='+info._id+"&coll=statement") Delete
                                            button.btn.btn-default(data-href='/Delete?id='+info._id+"&coll=statement" data-toggle='modal' data-target='#confirm-delete').
                                                Delete
  
        if code != undefined                               
            div(class='col-12')
                .card
                    .card-header
                        h4 Code Table
                    .card-body
                        .table-responsive
                            table.table.table-bordered.table-md
                                tbody              
                                    tr
                                        each item,header in code[0]
                                            if header == 'Name'
                                                th FirstName
                                                th LastName
                                            else 
                                                th #{header}
                                        th Edit        
                                each info in code
                                    tr 
                                        -var data2 = JSON.stringify(info)
                                        each val,key in info
                                                if key != 'Name'
                                                    td #{val}
                                                else
                                                    each  item,index in val
                                                        td #{item}
                                        td 
                                            a.btn.btn-danger(href='/Edit?q='+data2+'&'+'Field='+info._id+"&coll=code") Edit
        if position != undefined                               
            div(class='col-12')
                .card
                    .card-header
                        h4 Position Table
                    .card-body
                        .table-responsive
                            table.table.table-bordered.table-md
                                tbody              
                                    tr
                                        each item,header in position[0]
                                            if header == 'Name'
                                                th FirstName
                                                th LastName
                                            else 
                                                th #{header}
                                        th Edit        
                                each info in position
                                    tr 
                                        -var data2 = JSON.stringify(info)
                                        each val,key in info
                                                if key != 'Name'
                                                    td #{val}
                                                else
                                                    each  item,index in val
                                                        td #{item}
                                        td 
                                            a.btn.btn-danger(href='/Edit?q='+data2+'&'+'Field='+info._id+"&coll=Position") Edit
        if detail != undefined                               
            div(class='col-12')
                .card
                    .card-header
                        h4 Detail Table
                    .card-body
                        .table-responsive
                            table.table.table-bordered.table-md
                                tbody              
                                    tr
                                        each item,header in detail[0]
                                            if header == 'Name'
                                                th FirstName
                                                th LastName
                                            else 
                                                th #{header}
                                        th Edit        
                                each info in detail
                                    tr 
                                        -var data2 = JSON.stringify(info)
                                        each val,key in info
                                                if key != 'Name'
                                                    td #{val}
                                                else
                                                    each  item,index in val
                                                        td #{item}
                                        td 
                                            a.btn.btn-danger(href='/Edit?q='+data2+'&'+'Field='+info._id+"&coll=Activity_detail") Edit
        if education != undefined                          
            div(class='col-12')
                .card
                    .card-header
                        h4 Education Table
                    .card-body
                        .table-responsive
                            table.table.table-bordered.table-md
                                tbody              
                                    tr
                                        each item,header in education[0]
                                            if header == 'Name'
                                                th FirstName
                                                th LastName
                                            else 
                                                th #{header}
                                        th Edit        
                                each info in education
                                    tr 
                                        -var data2 = JSON.stringify(info)
                                        each val,key in info
                                                if key != 'Name'
                                                    td #{val}
                                                else
                                                    each  item,index in val
                                                        td #{item}
                                        td 
                                            a.btn.btn-danger(href='/Edit?q='+data2+'&'+'Field='+info._id+"&coll=Education") Edit
        if daily != undefined                               
            div(class='col-12')
                .card
                    .card-header
                        h4 Daily Time Table
                    .card-body
                        .table-responsive
                            table.table.table-bordered.table-md
                                tbody              
                                    tr
                                        each item,header in daily[0]
                                            if header == 'Name'
                                                th FirstName
                                                th LastName
                                            else 
                                                th #{header}
                                        th Edit        
                                each info in daily
                                    tr 
                                        -var data2 = JSON.stringify(info)
                                        each val,key in info
                                                if key != 'Name'
                                                    td #{val}
                                                else
                                                    each  item,index in val
                                                        td #{item}
                                        td 
                                            a.btn.btn-danger(href='/Edit?q='+data2+'&'+'Field='+info._id+"&coll=Daily_Time") Edit
        if lasthist != undefined                               
            div(class='col-12')
                .card
                    .card-header
                        h4 LastHistory Table
                    .card-body
                        .table-responsive
                            table.table.table-bordered.table-md
                                tbody              
                                    tr
                                        each item,header in lasthist[0]
                                            if header == 'Name'
                                                th FirstName
                                                th LastName
                                            else 
                                                th #{header}
                                        th Edit        
                                each info in lasthist
                                    tr 
                                        -var data2 = JSON.stringify(info)
                                        each val,key in info
                                                if key != 'Name'
                                                    td #{val}
                                                else
                                                    each  item,index in val
                                                        td #{item}
                                        td 
                                            a.btn.btn-danger(href='/Edit?q='+data2+'&'+'Field='+info._id+"&coll=Last_History") Edit
        if promotion != undefined                               
            div(class='col-12')
                .card
                    .card-header
                        h4 Promotion Table
                    .card-body
                        .table-responsive
                            table.table.table-bordered.table-md
                                tbody              
                                    tr
                                        each item,header in promotion[0]
                                            if header == 'Name'
                                                th FirstName
                                                th LastName
                                            else 
                                                th #{header}
                                        th Edit        
                                each info in promotion
                                    tr 
                                        -var data2 = JSON.stringify(info)
                                        each val,key in info
                                                if key != 'Name'
                                                    td #{val}
                                                else
                                                    each  item,index in val
                                                        td #{item}
                                        td 
                                            a.btn.btn-danger(href='/Edit?q='+data2+'&'+'Field='+info._id+"&coll=Promotion") Edit
                                                                                
            .card-footer.text-right
                    nav.d-inline-block
                     ul.pagination.mb-0
                        li.page-item.disabled
                         a.page-link(href='#', tabindex='-1')
                            i.fas.fa-chevron-left
                        li.page-item.active
                         a.page-link(href='#')
                            | 1
                            span.sr-only (current)
                        li.page-item
                         a.page-link(href='#') 2
                        li.page-item
                         a.page-link(href='#') 3
                        li.page-item
                         a.page-link(href='#')
                            i.fas.fa-chevron-right
        .modal.fade#confirm-delete(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' data-backdrop="false")
            .modal-dialog.modal-danger.modal-dialog-centered.modal-
                .modal-content.bg-gradient-danger
                    .modal-header
                        h6.modal-title#modal-title-notification Your attention is required
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') ×
                    .modal-body
                        .py-3.text-center
                        i.ni.ni-bell-55.ni-3x
                        h4.heading.mt-4 Delete confirmation
                        p Are you sure to delete?
                    .modal-footer
                        button.btn.btn-default(type='button' data-dismiss='modal') Cancel
                        a.btn.btn-danger.btn-ok Delete
            script.
                $('#confirm-delete').on('show.bs.modal', function(e) {
                    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                });                